<nav class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="<%= image_path('wine_icon3.png') %>" alt="Wine Logo">
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <br>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/wines">
            <img src="<%= image_path('winecellar-icon.png') %>" alt="Logo" class="menu-icon">
            Mes vins
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <img src="<%= image_path('favwines-icon.png') %>" alt="Logo" class="menu-icon">
            Vins favoris
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <img src="<%= image_path('empty-icon.png') %>" alt="Logo" class="menu-icon">
            Vins dégustés
          </a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <span class="nav-link">
              <img src="<%= image_path('user2.png') %>" alt="Icon" class="menu-icon">
              <%= current_user.username %>
            </span>
          </li>
          <li class="nav-item active">
            <%= form_tag(destroy_user_session_path, method: :delete) do %>
              <%= button_tag(type: 'submit', class: 'nav-link', data: { confirm: 'Are you sure?' }) do %>
                <img src="<%= image_path('logout-icon.png') %>" alt="Logout Logo" class="menu-icon">
                Déconnexion
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link" href="/users/sign_in">
              <img src="<%= image_path('login-icon.png') %>" alt="Login Logo" class="menu-icon">
              Connexion
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
