<div class="container">
  <div class="row justify-content-center">
    <div class="home-grid mt-3 mb-5 d-flex flex-wrap">
      <div class="card-wine">
        <div class="card-wine-body">
          <h2><%= @wine.name.capitalize %></h2>
          <br>
          <p><b>Type de vin :</b> <%= @wine.wine_type.capitalize %></p>
          <p>Pays : <%= @wine.country.capitalize %></p>
          <p>Région : <%= @wine.region.capitalize %></p>
          <p>Domaine : <%= @wine.winery.capitalize %></p>
          <p>Cépage : <%= @wine.variety.capitalize %></p>
          <p>Année : <%= @wine.year %></p>
          <p>Quantité : <%= @wine.quantity %></p>
          <p>Note : <%= @wine.rating %></p>
          <p>Commentaire : <%= @wine.comment.capitalize %></p>
          <p>Dégusté ? <%= @wine.empty ? 'Oui' : 'Non' %></p>
        </div>
        <div class="card-wine-buttons">
          <%= link_to edit_wine_path(@wine) do %>
            <button class="btn submit-button">
              <i class="fas fa-pencil-alt"></i>
            </button>
          <% end %>
          <%= link_to "Supprimer", wine_path(@wine), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"}, class: "btn delete-button"%>
        </div>
      </div>
    </div>
  </div>
</div>
