<div class="container">
  <div class="row justify-content-center">
    <div class="home-grid mt-3 mb-5 d-flex flex-wrap">
      <div class="card-wine mx-auto">
        <div class="card-wine-body">
          <div class="favorite">
            <i id="heartIcon" class="fa-solid fa-heart"></i>
          </div>
          <div class="title">
            <h2><%= @wine.name.titleize %></h2>
          </div>
          <br>
          <p class="wine-details"><strong>Type de vin :</strong> <%= @wine.wine_type.capitalize %></p>
          <p class="wine-details"><strong>Pays :</strong> <%= @wine.country.capitalize %></p>
          <p class="wine-details"><strong>Région :</strong> <%= @wine.region.capitalize %></p>
          <p class="wine-details"><strong>Domaine :</strong> <%= @wine.winery.titleize %></p>
          <p class="wine-details"><strong>Cépage :</strong> <%= @wine.variety.capitalize %></p>
          <p class="wine-details"><strong>Année :</strong> <%= @wine.year %></p>
          <p class="wine-details"><strong>Quantité :</strong> <%= @wine.quantity %></p>
          <p class="wine-details"><strong>Note :</strong> <%= @wine.rating %></p>
          <p class="wine-details"><strong>Commentaire :</strong> "<%= @wine.comment.capitalize %>"</p>
          <p class="wine-details"><strong>Dégusté :</strong> <%= @wine.empty ? 'Oui' : 'Non' %></p>
        </div>
        <div class="card-wine-buttons">
          <%= link_to edit_wine_path(@wine) do %>
            <button class="btn submit-button">
              <i class="fas fa-pencil-alt"></i>
            </button>
          <% end %>
          <%= button_to wine_path(@wine), method: :delete,  data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"}, class: 'btn delete-button' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
